@charset "UTC-8";
@media screen and (max-width:380px){
    

*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    background-image: url(../imagens/pexels-david-bartus-2876593.jpg);
    
    background-size: cover;
    
}
#centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    width: 70vw;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 80vh;
}
#img-login img{
    display: none
}
#img-login{
    background-image: url(../imagens/pexels-thach-tran-756856.jpg);
    background-size: cover;
    height: 34vh;
    margin: -20px -20px 10px -20px ;
    border-radius: 10px 10px 0px 0px;

}
#login{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#login article{
    text-align: left;
    font-size: 0.8em;
    text-indent: 20px;
}
#iemail, #isenha{
    background-color: rgb(0, 9, 59);
    margin: 4px;
    border-radius: 10px;
    height: 7vh;
    width: 100%;
}
#login input[type=email], input[type=password]{
    margin: 2px;
    width: 83%;
    height: 80%;
    border-radius: 10px;

}
.material-symbols-outlined{
    color: white;
    vertical-align: middle;
    font-size: 1.3em;
}
#entrar{
    text-align: center;
    display: block;
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 7vh;
    font-size: 1.1em;
    background-color: rgb(0, 9, 59);
    color: white;
    margin-bottom: 4px;

}
a{
    text-align: center;
    display: block;
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 7vh;
    font-size: 1.1em;
    background-color: rgb(0, 9, 59);
    color: white;
    text-decoration: none;
    

}
}
@media screen and (min-width:380px) and (max-width:1200px){
    

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../imagens/pexels-david-bartus-2876593.jpg);
}
#centro{
    width: 800px;
    height: 280px;
    background-color: white;
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
img{
    float: left;
    width: 230px;
    height: 280px;
    border-radius: 10px 0px 0px 10px;
}
#login{
    width: 570px;
    float: right;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;
}
#login article{
    margin: 10px 0px 10px 0px;
    text-align: left;
    font-size: 0.8em;
    text-indent: 20px;
}
#iemail, #isenha{
    display: inline-block;
    background-color: rgb(0, 9, 59);
    margin-bottom: 5px;
    border-radius: 10px;
    height: 40px;
    width: 400px;
}
#login input[type=email], input[type=password]{
    display: inline-block;
    margin: auto;
    width: 360px;
    height: 80%;
    border-radius: 10px;

}
.material-symbols-outlined{
    color: white;
    vertical-align: middle;
    font-size: 1.3em;
}
#entrar{
    text-align: center;
    display: inline;
    border: none;
    width: 400px;
    border-radius: 10px;
    height: 40px;
    font-size: 1.1em;
    background-color: rgb(0, 9, 59);
    color: white;
    margin-bottom: 5px;

}
#esqueci-senha{
    display: inline;
    
}
a{
    text-align: center;
    display: inline-block;
    border: none;
    width: 400px;
    border-radius: 10px;
    height: 40px;
    font-size: 1.1em;
    background-color: rgb(0, 9, 59);
    color: white;
    text-decoration: none;
    

}

}
@media screen and (min-width:1200px){
    

    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background-image: url(../imagens/pexels-david-bartus-2876593.jpg);
    }
    #centro{
        width: 1000px;
        height: 400px;
        background-color: white;
        position: absolute;
        top: 50% ;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 10px;
    }
    img{
        float: right;
        width: 300px;
        height: 400px;
        border-radius: 0px 10px 10px 0px;
    }
    #login{
        margin-top: 0px;
        width: 700px;
        float: left;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    h1{
        text-align: center;
    }
    #login article{
        margin: 10px 0px 10px 0px;
        text-align: left;
        font-size: 0.8em;
        text-indent: 20px;
    }
    #iemail, #isenha{
        display: inline-block;
        background-color: rgb(0, 9, 59);
        margin-bottom: 5px;
        border-radius: 10px;
        height: 40px;
        width: 400px;
    }
    #login input[type=email], input[type=password]{
        display: inline-block;
        margin: auto;
        width: 360px;
        height: 80%;
        border-radius: 10px;
    
    }
    .material-symbols-outlined{
        color: white;
        vertical-align: middle;
        font-size: 1.3em;
    }
    #entrar{
        text-align: center;
        display: inline;
        border: none;
        width: 400px;
        border-radius: 10px;
        height: 40px;
        font-size: 1.1em;
        background-color: rgb(0, 9, 59);
        color: white;
        margin-bottom: 5px;
    
    }
    #esqueci-senha{
        display: inline;
        
    }
    a{
        text-align: center;
        display: inline-block;
        border: none;
        width: 400px;
        border-radius: 10px;
        height: 40px;
        font-size: 1.1em;
        background-color: rgb(0, 9, 59);
        color: white;
        text-decoration: none;
        
    
    }
    
    }